body {
	background-color: yellow; color: red; text-align: left; font-size: 20px;
}



h1{
	color: blue; font-family: comic; font-size: 50px; text-align: right;
}



p{
	color: purple; text-align: center; font-size: 60px;
}



#p1{
	color: green; text-align: center; font-size: 90px;
}